<div fxLayout="column">

  <div fxLayout="row">
    <div fxFlex="40" fxLayout="column" fxLayoutAlign="center center"
         class="team" [ngClass]="{'clickable': mustHaveWinner()}"
         (click)="mustHaveWinner() && winnerId = data.match.team_1.id">
      <div fxFlex fxLayout="row" fxLayoutAlign="center center">
        <img [src]="data.match.team_1.flag_url">
      </div>
      <div fxFlex fxLayout="row" fxLayoutAlign="center center">
        <h3>
          {{data.match.team_1.name}}
          <mat-icon svgIcon="trophy" *ngIf="winnerId === data.match.team_1.id"></mat-icon>
        </h3>
      </div>
    </div>

    <div fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
    </div>

    <div fxFlex="40" fxLayout="column" fxLayoutAlign="center center"
         class="team" [ngClass]="{'clickable': mustHaveWinner()}"
         (click)="mustHaveWinner() && winnerId = data.match.team_2.id">
      <div fxFlex fxLayout="row" fxLayoutAlign="center center">
        <img [src]="data.match.team_2.flag_url">
      </div>
      <div fxFlex fxLayout="row" fxLayoutAlign="center center">
        <h3>
          {{data.match.team_2.name}}
          <mat-icon svgIcon="trophy" *ngIf="winnerId === data.match.team_2.id"></mat-icon>
        </h3>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <h4>Votre pronostic</h4>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="40" fxLayout="row" fxLayoutAlign="center center">
      <mat-form-field class="" style="text-align: right">
        <input matInput  min="0" max="20" pattern="[0-9]*" [formControl]="rateControl1" type="number" [(ngModel)]="team_1_score" (ngModelChange)="scoreChanged()">
        <mat-error>Please enter a value between 0 and 20</mat-error>
      </mat-form-field>
    </div>

    <div fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
    </div>

    <div fxFlex="40" fxLayout="row" fxLayoutAlign="center center">
      <mat-form-field class="example-full-width">
        <input matInput  min="0" max="20" pattern="^[0-9]*$" [formControl]="rateControl2" type="number" [(ngModel)]="team_2_score" (ngModelChange)="scoreChanged()">
        <mat-error>Please enter a value between 0 and 20</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" *ngIf="mustHaveWinner() && !winnerId">
    <h4>Clique sur le pays qui gagnera après les prolongations / tirs au but.</h4>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button (click)="validatePrediction()" [disabled]="!isValidPrediction()">Valider</button>
  </div>

  <div class="reminders" fxLayout fxLayoutAlign="center center">
    <div>
      <img src="/assets/referee.png">
    </div>
    <div>
      <!-- <p>
        Rappel: le score à pronostiquer est celui au bout du temps réglementaire (90min + temps additionnel).
        Pas après les prolongations ou les tirs aux but.
      </p> -->
      <p>
        Rappel: pour les matches de la phase finale (1/8e de finale, 1/4...), il peut y avoir match nul après 90min
        mais il y aura des prolongations voire tirs au but pour départager les deux équipes. le score à pronostiquer est celui au bout des prolongations s'il y'a lieu.
      </p>
    </div>
  </div>

</div>
