@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@font-face {
    font-family: Dusha;
    src: url('/assets/dusha-regular.woff');
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  width: 100%;
  font-size: 16px;
  margin: 0;
}

.strut {
  width: 0;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}

.need-strut {
  vertical-align: middle;
  display: inline-block;
}

.clickable {
  cursor: pointer;
}

div.cdk-overlay-pane.dialog-without-padding {
  mat-dialog-container {
    padding: 0;
  }
}

div.cdk-overlay-backdrop.darker-backdrop {
      background: rgba(0, 0, 0, 0.75);
}
