.navbar__brand {
    height: 80%;

    img {
      height: 100%;
    }
}

.navbar__app-title {
    margin-left: 1em;
    font-size: 1.5em;
}

.navbar__spacer {
    flex: 1 1 auto;
}

mat-toolbar {
  background: url('/assets/darkbluebg.png');
  background-position-y: -5px;
  color: #fff;

  .my-points {
    font-family: Dusha;
    font-size: 30px;
  }
}

a {
  font-family: Dusha;
  font-weight: lighter;
  font-size: 1.5em;
}
