.navbar__brand {
    height: 100%;

    img {
      height: 100%;
    }
}

.navbar__app-title {
    margin-left: 1em;
    font-size: 1.5em;
}

.navbar__spacer {
    flex: 1 1 auto;
}

mat-toolbar {
  background-color: red;
  color: #fff;
}
