  <div id="home_check">
    <div class="site-wrap">

      <div class="slide-one-item home-slider owl-carousel">
        <div class="site-blocks-cover overlay" style="background-image: url(https://images.cafonline.com/image/private/t_editorial_landscape_12_desktop_2x/f_auto/caf-prd/smwtsut6x68uyupndpkr.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
          <div class="container">
            <div class="row align-items-center justify-content-start">
              <div class="col-md-6 text-center text-md-left" data-aos="fade-up" data-aos-delay="400">
                <h1 class="bg-text-line">Le Cameroun fait jeu égale avec le Bénin</h1>
                <p><a href="https://www.cafonline.com/total-africa-cup-of-nations/news/cameroon-scrap-through-despite-benin-stalemate" class="btn btn-primary btn-sm rounded-0 py-3 px-5">Lire la suite...</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="site-blocks-cover overlay" style="background-image: url(https://images.cafonline.com/image/private/t_editorial_landscape_12_desktop_2x/f_auto/caf-prd/hhx9rthasnpbntguntsd.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
          <div class="container">
            <div class="row align-items-center justify-content-start">
              <div class="col-md-6 text-center text-md-left" data-aos="fade-up" data-aos-delay="400">
                <h1 class="bg-text-line">Les qualifiés pour les 1/8e de finale sont connus</h1>
                <p><a href="https://www.cafonline.com/total-africa-cup-of-nations/news/pairings-for-round-of-16-complete" class="btn btn-primary btn-sm rounded-0 py-3 px-5">Lire la suite...</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="site-blocks-cover overlay" style="background-image: url(https://images.cafonline.com/image/private/t_editorial_landscape_12_desktop_2x/f_auto/caf-prd/fwvocrlkjusdafyg0cqp.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
          <div class="container">
            <div class="row align-items-center justify-content-start">
              <div class="col-md-6 text-center text-md-left" data-aos="fade-up" data-aos-delay="400">
                <h1 class="bg-text-line">Le Mali bat l'Angola pour terminer en tête du groupe E</h1>
                <p><a href="https://www.cafonline.com/total-africa-cup-of-nations/news/mali-see-off-angola-to-finish-top-of-group-e" class="btn btn-primary btn-sm rounded-0 py-3 px-5">Lire la suite...</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="site-blocks-cover overlay" style="background-image: url(https://images.cafonline.com/image/private/t_editorial_landscape_12_desktop_2x/f_auto/caf-prd/bw1hywcpi7qje8pkikba.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
          <div class="container">
            <div class="row align-items-center justify-content-start">
              <div class="col-md-6 text-center text-md-left" data-aos="fade-up" data-aos-delay="400">
                <h1 class="bg-text-line">La Tunisie qualifié pour le tour suivant</h1>
                <p><a href="https://www.cafonline.com/total-africa-cup-of-nations/news/third-draw-takes-tunisia-to-next-round" class="btn btn-primary btn-sm rounded-0 py-3 px-5">Lire la suite...</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
</div>
