  <div id="home_check">
    <div class="site-wrap">

      <div class="slide-one-item home-slider owl-carousel">

        <div class="site-blocks-cover overlay" style="background-image: url(https://images.cafonline.com/image/private/t_editorial_landscape_12_desktop_2x/f_auto/caf-prd/rg0ghcchtjh5lwguy1wz.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
          <div class="container">
            <div class="row align-items-center justify-content-start">
              <div class="col-md-6 text-center text-md-left" data-aos="fade-up" data-aos-delay="400">
                <h1 class="bg-text-line">Incroyable, les Bafana Bafana éliminent l'Egypte, pays hôte de la compétition</h1>
                <p><a href="https://www.cafonline.com/total-africa-cup-of-nations/news/pairings-for-round-of-16-complete" class="btn btn-primary btn-sm rounded-0 py-3 px-5">Lire la suite...</a></p>
                <blockquote class="twitter-tweet" data-lang="fr"><p lang="en" dir="ltr">HISTORY = MADE. <a href="https://twitter.com/hashtag/RSAEGY?src=hash&amp;ref_src=twsrc%5Etfw">#RSAEGY</a> <a href="https://twitter.com/hashtag/TotalAFCON2019?src=hash&amp;ref_src=twsrc%5Etfw">#TotalAFCON2019</a> <a href="https://t.co/PijoPtaDvy">pic.twitter.com/PijoPtaDvy</a></p>&mdash; CAF (@CAF_Online) <a href="https://twitter.com/CAF_Online/status/1147609834247860229?ref_src=twsrc%5Etfw">6 juillet 2019</a></blockquote>
              </div>
            </div>
          </div>
        </div>

        <div class="site-blocks-cover overlay" style="background-image: url(https://images.cafonline.com/image/private/t_editorial_landscape_12_desktop_2x/f_auto/caf-prd/jdz40kgrry0knuiz35ok.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
          <div class="container">
            <div class="row align-items-center justify-content-start">
              <div class="col-md-6 text-center text-md-left" data-aos="fade-up" data-aos-delay="400">
                <h1 class="bg-text-line">Ighalo envoie les Super Eagles en quart de finale</h1>
                <p><a href="https://www.cafonline.com/total-africa-cup-of-nations/news/cameroon-scrap-through-despite-benin-stalemate" class="btn btn-primary btn-sm rounded-0 py-3 px-5">Lire la suite...</a></p>
                <blockquote class="twitter-tweet" data-cards="hidden" data-lang="fr"><p lang="en" dir="ltr">FULL TIME | Nigeria - Cameroon 3-2 <a href="https://twitter.com/hashtag/TotalAFCON2019?src=hash&amp;ref_src=twsrc%5Etfw">#TotalAFCON2019</a> <a href="https://twitter.com/hashtag/NGACMR?src=hash&amp;ref_src=twsrc%5Etfw">#NGACMR</a> <a href="https://t.co/Hl16AGBCZo">pic.twitter.com/Hl16AGBCZo</a></p>&mdash; CAF (@CAF_Online) <a href="https://twitter.com/CAF_Online/status/1147563528284512258?ref_src=twsrc%5Etfw">6 juillet 2019</a></blockquote>
              </div>
            </div>
          </div>
        </div>

        <div class="site-blocks-cover overlay" style="background-image: url(https://images.cafonline.com/image/private/t_editorial_landscape_12_desktop_2x/f_auto/caf-prd/ygzwbf4h594nz3uoianl.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
          <div class="container">
            <div class="row align-items-center justify-content-start">
              <div class="col-md-6 text-center text-md-left" data-aos="fade-up" data-aos-delay="400">
                <h1 class="bg-text-line">Le Maroc paie l'amende alors que le conte de fées du Bénin continue</h1>
                <p><a href="https://www.cafonline.com/total-africa-cup-of-nations/news/mali-see-off-angola-to-finish-top-of-group-e" class="btn btn-primary btn-sm rounded-0 py-3 px-5">Lire la suite...</a></p>
                <blockquote class="twitter-tweet" data-cards="hidden" data-lang="fr"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/TotalAFCON2019?src=hash&amp;ref_src=twsrc%5Etfw">#TotalAFCON2019</a><br>STÉPHANE SESSÈGNON has been selected as the Total Man of the Match, well done!<a href="https://twitter.com/hashtag/MARBEN?src=hash&amp;ref_src=twsrc%5Etfw">#MARBEN</a> <a href="https://twitter.com/hashtag/FootballTogether?src=hash&amp;ref_src=twsrc%5Etfw">#FootballTogether</a> <a href="https://t.co/1XXcwSubeK">pic.twitter.com/1XXcwSubeK</a></p>&mdash; CAF (@CAF_Online) <a href="https://twitter.com/CAF_Online/status/1147223555681280000?ref_src=twsrc%5Etfw">5 juillet 2019</a></blockquote>
              </div>
            </div>
          </div>
        </div>

        <div class="site-blocks-cover overlay" style="background-image: url(https://images.cafonline.com/image/private/t_editorial_landscape_12_desktop_2x/f_auto/v1562358938/caf-prd/biet9jxhbnmgitllzu8i.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
          <div class="container">
            <div class="row align-items-center justify-content-start">
              <div class="col-md-6 text-center text-md-left" data-aos="fade-up" data-aos-delay="400">
                <h1 class="bg-text-line">Mane envoie le Sénégal en quart de finale</h1>
                <p><a href="https://www.cafonline.com/total-africa-cup-of-nations/news/third-draw-takes-tunisia-to-next-round" class="btn btn-primary btn-sm rounded-0 py-3 px-5">Lire la suite...</a></p>
                <blockquote class="twitter-tweet" data-lang="fr"><p lang="en" dir="ltr">Make some noise for the <a href="https://twitter.com/hashtag/TerangaLions?src=hash&amp;ref_src=twsrc%5Etfw">#TerangaLions</a> !!🎉<br><br>The second team to officially join the quarter-finals..👏😍<a href="https://twitter.com/hashtag/TotalAFCON2019?src=hash&amp;ref_src=twsrc%5Etfw">#TotalAFCON2019</a> <a href="https://twitter.com/hashtag/UGASEN?src=hash&amp;ref_src=twsrc%5Etfw">#UGASEN</a> <a href="https://t.co/mC6Hrc5yRW">pic.twitter.com/mC6Hrc5yRW</a></p>&mdash; CAF (@CAF_Online) <a href="https://twitter.com/CAF_Online/status/1147247312827273216?ref_src=twsrc%5Etfw">5 juillet 2019</a></blockquote>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
</div>
