<div id="home_check">
  <div class="site-wrap">

    <div class="slide-one-item home-slider owl-carousel">

      <div class="site-blocks-cover overlay" style="background-image: url(https://images.cafonline.com/image/private/t_landscape_tablet_2x/f_auto/caf-prd/nktrpipt78duwjs2jwil.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-start">
            <div class="col-md-6 text-center text-md-left" data-aos="fade-up" data-aos-delay="400">
              <h1 class="bg-text-line">Le Nigeria en demi-finale, battant l'Afrique du Sud au Caire</h1>
              <p><a href="https://www.cafonline.com/total-africa-cup-of-nations/news/nigeria-to-the-semis-beating-south-africa-in-cairo" class="btn btn-primary btn-sm rounded-0 py-3 px-5">Lire la suite...</a></p>
              <blockquote class="twitter-tweet" data-cards="hidden" data-lang="fr"><p lang="en" dir="ltr">It was hard fought against a tough opponent, but the Naija <a href="https://twitter.com/hashtag/SuperEagles?src=hash&amp;ref_src=twsrc%5Etfw">#SuperEagles</a> are through! <a href="https://twitter.com/hashtag/TotalAFCON2019?src=hash&amp;ref_src=twsrc%5Etfw">#TotalAFCON2019</a> <a href="https://t.co/MRLdleRimL">pic.twitter.com/MRLdleRimL</a></p>&mdash; CAF (@CAF_Online) <a href="https://twitter.com/CAF_Online/status/1149058609151717380?ref_src=twsrc%5Etfw">10 juillet 2019</a></blockquote>
            </div>
          </div>
        </div>
      </div>

      <div class="site-blocks-cover overlay" style="background-image: url(https://images.cafonline.com/image/private/t_landscape_tablet_2x/f_auto/caf-prd/auhviqtzewvmgj8pxpid.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-start">
            <div class="col-md-6 text-center text-md-left" data-aos="fade-up" data-aos-delay="400">
              <h1 class="bg-text-line">Idrissa Gueye envoie le Sénégal en demi-finale</h1>
              <p><a href="https://www.cafonline.com/total-africa-cup-of-nations/news/gana-guns-down-benin-sends-senegal-to-semis" class="btn btn-primary btn-sm rounded-0 py-3 px-5">Lire la suite...</a></p>
              <blockquote class="twitter-tweet" data-cards="hidden" data-lang="fr"><p lang="en" dir="ltr">Aaaaaaaaaaaaaand breathe! <br><br>We have our first semi-finalists: <a href="https://twitter.com/FootballSenegal?ref_src=twsrc%5Etfw">@FootballSenegal</a> 🇸🇳<a href="https://twitter.com/hashtag/TotalAFCON2019?src=hash&amp;ref_src=twsrc%5Etfw">#TotalAFCON2019</a> <a href="https://t.co/4vPuHemjPH">pic.twitter.com/4vPuHemjPH</a></p>&mdash; CAF (@CAF_Online) <a href="https://twitter.com/CAF_Online/status/1149013952501813254?ref_src=twsrc%5Etfw">10 juillet 2019</a></blockquote>
            </div>
          </div>
        </div>
      </div>
      
      <div class="site-blocks-cover overlay" style="background-image: url(https://images.cafonline.com/image/private/t_landscape_tablet_2x/f_auto/caf-prd/e2e1mfxrbyqlzuomdndl.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-start">
            <div class="col-md-6 text-center text-md-left" data-aos="fade-up" data-aos-delay="400">
              <h1 class="bg-text-line">L'Algerie se défait de la Côte d'ivoire aux pénalties</h1>
              <p><a href="https://www.cafonline.com/total-africa-cup-of-nations/news/algeria-down-cote-d-ivoire-on-penalties-set-up-nigeria-semis-clash" class="btn btn-primary btn-sm rounded-0 py-3 px-5">Lire la suite...</a></p>
              <blockquote class="twitter-tweet" data-cards="hidden" data-lang="fr"><p lang="en" dir="ltr">Our third semi-finalist is 🥁🥁🥁<a href="https://twitter.com/LesVerts?ref_src=twsrc%5Etfw">@LesVerts</a> 🇩🇿 <a href="https://twitter.com/hashtag/TotalAFCON2019?src=hash&amp;ref_src=twsrc%5Etfw">#TotalAFCON2019</a> <a href="https://t.co/MDWdpXKNPQ">pic.twitter.com/MDWdpXKNPQ</a></p>&mdash; CAF (@CAF_Online) <a href="https://twitter.com/CAF_Online/status/1149407806124101633?ref_src=twsrc%5Etfw">11 juillet 2019</a></blockquote>
            </div>
          </div>
        </div>
      </div>

      <div class="site-blocks-cover overlay" style="background-image: url(https://images.cafonline.com/image/private/t_landscape_tablet_2x/f_auto/caf-prd/iyjdcmpyri8qtjfoutwj.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-start">
            <div class="col-md-6 text-center text-md-left" data-aos="fade-up" data-aos-delay="400">
              <h1 class="bg-text-line">La Tunisie met fin au parcours magnifique des Malgaches</h1>
              <p><a href="https://www.cafonline.com/total-africa-cup-of-nations/news/tunisia-ends-madagascar-fairytale-run-to-reach-semis" class="btn btn-primary btn-sm rounded-0 py-3 px-5">Lire la suite...</a></p>
              <blockquote class="twitter-tweet" data-cards="hidden" data-lang="fr"><p lang="en" dir="ltr">The fourth diamond in our semi-final crown 👑<a href="https://twitter.com/hashtag/CarthageEagles?src=hash&amp;ref_src=twsrc%5Etfw">#CarthageEagles</a> <a href="https://twitter.com/hashtag/TotalAFCON2019?src=hash&amp;ref_src=twsrc%5Etfw">#TotalAFCON2019</a> <a href="https://t.co/kTOE360Ggw">pic.twitter.com/kTOE360Ggw</a></p>&mdash; CAF (@CAF_Online) <a href="https://twitter.com/CAF_Online/status/1149421796250279941?ref_src=twsrc%5Etfw">11 juillet 2019</a></blockquote>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
