main {
  position: absolute;
  width: 80%;
  min-width: 600px;
  max-width: 1400px;
  top: 64px;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  padding-top: 50px;
}

navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
