// following are colors from Sofinord, you can change them
$app-red: #f14950;
$app-cyan: #33cdf5;
$app-green: #4caf50;
$app-grey: #3e3e3e;
$app-gray: #3e3e3e;
$app-lightgrey: #a5b1c2;
$app-lightgray: #a5b1c2;