<div class="with-background" (mouseenter)="test()">
   <div class="action-button left" (click)="close()">
      Go go go !
    </div>
    <a class="action-button right" (click)="close()"
       href="https://docs.google.com/document/d/1LcIlcV-xp078Im1b-ks6DUtkCz5fegglGiM1L4IPxqg/edit"
       target="_blank" rel="noopener noreferrer">
      Les règles
    </a>
    <div id="bars" [ngClass]="{'mute': !isMagicPlaying}" (click)="pause()">
        <audio id="magic-player" #magicPlayer src="/assets/magic.mp3"></audio>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</div>
