h1 {
  font-family: Dusha;
  font-weight: lighter;
  font-size: 3em;

  span {
    font-size: 0.5em;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

section {
  h2 {
    color: #f39c12;
    font-weight: 100;
    font-size: 1.5em;
    padding: 12px 16px;
    border: solid 2px #80808040;
  }
}

#worldcup-winner {
  mat-form-field {
    width: 100%;
    max-width: 500px;

    mat-option {
      img.flag {
        height: 24px;
        display: inline-block;
        vertical-align: middle;
      }
      span.label {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

