h1 {
  font-family: Dusha;
  font-weight: lighter;
  font-size: 3em;

  span {
    font-size: 0.5em;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}


#worldcup-winner {
  mat-form-field {
    width: 100%;
    max-width: 500px;

    mat-option {
      img.flag {
        height: 24px;
        display: inline-block;
        vertical-align: middle;
      }
      span.label {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

