<h1>
  Matches
  <span>
    (<a rel="noopener noreferrer" href="https://docs.google.com/document/d/1LcIlcV-xp078Im1b-ks6DUtkCz5fegglGiM1L4IPxqg/edit?usp=sharing">règles</a>)
  </span>
</h1>

<section id="worldcup-winner">
  <h2>
    Vainqueur Coupe du monde
  </h2>

    <mat-form-field>
      <input type="text" placeholder="Choisir le futur vainqueur" aria-label="Vainqueur" matInput
             [(ngModel)]="worldcupWinner" name="worldcupWinner" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let team of teams" [value]="team">
          <img class="flag" [src]="team.flag_url" />
          <span class="label">{{ team.name }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

</section>

<section id="matches">
  <h2>
    <mat-form-field *ngIf="stages && stages.length">
      <mat-select >
        <mat-option *ngFor="let stage of stages" [value]="stage">
          {{ stage.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </h2>
</section>
