<h1>
  <div (mouseenter)="whistle(true)" (mouseleave)="whistle(false)">
    <a rel="noopener noreferrer" target="_blank"
          href="https://docs.google.com/document/d/1LcIlcV-xp078Im1b-ks6DUtkCz5fegglGiM1L4IPxqg/edit">
      <img src="/assets/yellow-card.png"></a>
    <a rel="noopener noreferrer" target="_blank"
        href="https://docs.google.com/document/d/1LcIlcV-xp078Im1b-ks6DUtkCz5fegglGiM1L4IPxqg/edit">Les règles !
    </a>
  </div>
</h1>

<section id="worldcup-winner">
  <h2>
    <b>Vainqueur de la Coupe</b>
  </h2>

<div class="betting-row" fxLayout fxLayoutGap="20px">
    <div id="team-picker-col" fxFlex>
      <div class="strut"></div><!--
      --><div class="need-strut clickable" (click)="openTeamPickerDialog()" *ngIf="isWorldcupWinnerPredictionOpen()">
        {{ teamPickerLabel }}
      </div>
    </div>
    <div class="betting-col" fxLayout="column" fxLayoutGap="20px">
      <div class="col-title">
        Pronostic
      </div>
      <div class="col-content"
           [ngClass]="{unknown: worldcupWinnerPrediction == null, 'clickable': isWorldcupWinnerPredictionOpen()}"
           (click)="isWorldcupWinnerPredictionOpen() && openTeamPickerDialog()" fxFlex>
        <div class="flag-content">

          <img [src]="worldcupWinnerPrediction.flag_url" *ngIf="worldcupWinnerPrediction">

          <button mat-icon-button id="glloq"
                  *ngIf="worldcupWinnerPrediction && worldcupWinnerPrediction.name === 'France'"
                  (click)="playProject($event)">
            <mat-icon>audiotrack</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="betting-col" fxLayout="column" fxLayoutGap="20px">
      <div class="col-title">
        Résultat
      </div>
      <div class="col-content" fxFlex (click)="selectWorldcupWinner()"
           [ngClass]="{empty: worldcupWinner == null, clickable: isAdmin()}">
        <div class="flag-content">
          <img [src]="worldcupWinner.flag_url" *ngIf="worldcupWinner">
        </div>
      </div>
    </div>
    <div class="betting-col" fxLayout="column" fxLayoutGap="20px">
      <div class="col-title">
        Points
      </div>
      <div class="col-content points" [ngClass]="{empty: worldcupWinnerPredictionPoints == null}" fxFlex>
        {{ worldcupWinnerPredictionPoints }}
      </div>
    </div>
  </div>


</section>

<section id="matches">
  <h2>
    <mat-form-field *ngIf="stages && stages.length">
      <mat-label></mat-label>
      <mat-select placeholder="Choisis un groupe" [(ngModel)]="stageSelected">
        <mat-option value="all">
          Tous les matches
        </mat-option>
        <mat-option value="knockout_stage_only">
          Matches éliminatoires
        </mat-option>
        <mat-option *ngFor="let stage of stages" [value]="stage">
          {{ stage.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </h2>

  <div *ngIf="!stages || !stages.length">
    <mat-spinner></mat-spinner>
  </div>

  <div id="group-matches" *ngIf="stageSelected">

    <div fxLayout fxLayoutAlign="start center">
      <div fxFlex id="stage-rules">
        <p>
          1 point si tu as le bon vainqueur
        </p>
        <p>
          3 points si tu as le bon vainqueur et le bon score!
        </p>
      </div>
      <div id="rollDices" class="clickable" *ngIf="canRollDices()"
           (mouseenter)="shakeDices(true)" (mouseleave)="shakeDices(false)" (click)="rollDices()">
        <img src="/assets/dices.png"><span>Aléatoire</span>
      </div>
    </div>

    <div class="titles" fxLayout="row">

      <div fxFlex fxLayout="row" fxLayoutAlign="center center">
        <span class="col-content" *ngIf="stageSelected !== 'all' && today < stageSelected.opening_time*1000">
          Ouverture des pronos: {{ getDate(stageSelected.opening_time*1000) }}
        </span>
        <span class="col-content" *ngIf="stageSelected !== 'all' && today > stageSelected.opening_time*1000 && stageSelected.closing_time">
          Fermeture des pronos: {{ getDate(stageSelected.closing_time*1000 - 3600000*24) }}
        </span>
      </div>

      <div fxLayout="row" fxLayoutGap="20px">
        <div class="col-title">Pronostic</div>
        <div class="col-title">Résultat</div>
        <div class="col-title">Points</div>
      </div>

    </div>

    <div class="row-match" fxLayout="row" fxLayoutGap="20px" *ngFor="let match of selectedMatches; odd as isOdd"
         [ngClass]="{'darker-row': isOdd}">

      <div class="teams-match" fxFlex fxLayout="row">
        <div class="team" fxLayout="column" fxFlex>

          <div fxFlex fxLayout="row" fxLayoutAlign="center center">
            <img *ngIf="match.team_1" src="{{ match.team_1[0].flag_url }}">
          </div>
          <div fxFlex fxLayout="row" fxLayoutAlign="center center">
            <span *ngIf="match.team_1" class="col-content">{{ match.team_1[0].name }}</span>
            <span *ngIf="!match.team_1" class="col-content">{{ match.placeholder_1 }}</span>
          </div>

        </div>

        <div class="team" fxLayout="column" fxFlex>

          <div fxFlex fxLayout="row" fxLayoutAlign="center center">
            <img *ngIf="match.team_2" src="{{ match.team_2[0].flag_url }}">
          </div>
          <div fxFlex fxLayout="row" fxLayoutAlign="center center">
            <span *ngIf="match.team_2" class="col-content">{{ match.team_2[0].name }}</span>
            <span *ngIf="!match.team_2" class="col-content">{{ match.placeholder_2 }}</span>
          </div>

        </div>
      </div>

      <div class="teams-match" fxFlex fxLayout="column" fxLayoutAlign="center center">

        <div>
          <span class="col-content">{{ getDate(match.match_time * 1000) }}</span>
        </div>

        <div>
          <span class="col-content">{{ getTime(match.match_time * 1000) }}</span>
        </div>

        <div>
          <a href="https://www.google.com/maps/?q={{ match.stadiums_id[0].lat }},{{ match.stadiums_id[0].lng }}" target="_blank" class="col-content">
            {{ match.stadiums_id[0].name }}
          </a>
        </div>

      </div>

      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" class="user-action-row">

        <div fxLayout="row" fxLayoutAlign="center center">
          <div class="match-score" fxLayout="column" fxLayoutAlign="center center"
               [ngClass]="{'unknown': !getPrediction(match),'clickable': canPredict(match)}"
               (click)="canPredict(match) && openPronoDialog(match)">

            <img [src]="getWinnerFlagFromPrediction(match)" *ngIf="getPrediction(match) && getPrediction(match).winner"/>

            <div class="bigger">
              {{ getPrediction(match) ? getPrediction(match).score : '' }}
            </div>

          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">
          <div (click)="isAdmin() && setMatchResult(match)"
               class="match-score" fxLayout="column" fxLayoutAlign="center center"
               [ngClass]="{'empty': !match.score, 'clickable': isAdmin()}">

            <img [src]="getWinnerFlag(match)" *ngIf="match.winner"/>

            <div class="bigger">
              {{ match.score ? match.score : '' }}
            </div>

            <div class="smaller" *ngIf="match.final_score">
              {{ match.final_score }}
            </div>

          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">
          <div class="points-container" [ngClass]="{empty: !match.score}" fxLayout="row" fxLayoutAlign="center center">
            <span *ngIf="match.score">{{ calculatePoints(match) }}</span>
          </div>
        </div>


      </div>

    </div>

  </div>
</section>
